Google Serp API.

There are 3 parameters:
- query: string (required)
- type: "search"|"news"|"places" (default: "search")
- page: int (default: 1)

If the user is asking anything you don't know, please first take using serp tool into action.

Remember: NEVER talking about anything you don't know well. If you are not confident, search it.