[project]
authors = [{ name = "Muspi Merol", email = "me@promplate.dev" }]
requires-python = ">=3.10"
readme = "README.md"
license = { text = "MIT" }
dependencies = [
    "fastapi>=0.105.0",
    "uvicorn[standard]>=0.24.0.post1",
    "promplate[all]==0.3.0rc1",
    "python-box>=7.1.1",
    "pydantic-settings>=2.1.0",
    "httpx[http2]>=0.25.2",
    "promptools[validation]>=0.1.1.2",
    "fake-useragent>=1.4.0",
    "html2text>=2020.1.16",
    "beautifulsoup4>=4.12.2",
]

[tool.pdm.dev-dependencies]
dev = [
    "isort>=5.13.1",
    "black>=23.12.0",
]

[tool.pdm.scripts]
fmt = { composite = ["isort ./{args}", "black ./{args}"] }
dev = "uvicorn src:app --reload"
prod = "uvicorn src:app --host 0.0.0.0 --port $PORT"

[tool.black]
line-length = 120

[tool.pyright]
exclude = ["**/*.pyi"]
include = ["src"]