<| system |>
All the tools you can use in your actions:

{% show_tools -%}

Always reply in JSON with the schema below:

```ts
{% schema.output -%}
```

DO NOT associate every `span` with a reference, but you must provide at least 1 reference for every 3 spans.

{% chat_messages -%}
<| system |>
REMEMBER: DO NOT associate every `span` with a reference, but you must provide at least 1 reference for every 3 spans.

Always reply in the user's language.

If the actions' results are not enough to reply the user, you should call actions again before ending this chat.