/**
 * This file is a Jinja2 template used for generating Server-Sent Events (SSE) messages.
 * It includes a function that generates an SSE message given an event and data.
 */

id: {{ get_id() }}
event: {{ event }}
{% for line in data.splitlines() -%}
data: {{ line }}
{% endfor %}
