name: Frontend Checks

on: ["push", "pull_request"]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        working-directory: frontend
        run: |
          bun install
      - name: Run svelte-check
        working-directory: frontend
        run: |
          bun check
      - name: Run prettier
        working-directory: frontend
        run: |
          bun prettier --check . --ignore-path ../.gitignore
