name: Formatting and Type Checks

on: ["push", "pull_request"]

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.12
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          activate-environment: true
      - name: Install dependencies
        run: |
          uv export --no-hashes | uv pip install -r - basedpyright --color always
      - name: Check formatting
        run: |
          isort . --check --diff
      - name: Check imports order
        run: |
          black . --check --diff
      - name: Check typing
        run: |
          basedpyright
